expose:
  type: ingress
  tls:
    enabled: true
    certSource: secret
    secret:
      secretName: harbor-letsencrypt-tls
  ingress:
    hosts:
      core: harbor.yahwang.cloud
    controller: default
    className: nginx
    annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-prod"
      nginx.ingress.kubernetes.io/ssl-redirect: "true"
      nginx.ingress.kubernetes.io/proxy-body-size: "0"

persistence:
  enabled: false
  imageChartStorage:
    disableredirect: true
    type: s3
    s3:
      existingSecret: harbor-s3-secret
      region: ap-northeast-2
      bucket: harbor-image
      regionendpoint: https://minio.minio-system.svc

externalURL: https://harbor.yahwang.cloud # http 혹은 https를 붙임

existingSecretAdminPassword: harbor-admin-secret

internalTLS:
  enabled: false

database:
  type: external
  external:
    host: "common-postgres-rw.common.svc.cluster.local"
    port: "5432"
    username: "postgres"
    existingSecret: "postgres-secret"
    coreDatabase: "harbor"

redis:
  type: external
  external:
    addr: "redis-master.cluster-config.svc.cluster.local:6379"

logLevel: warning